__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.git/
.dockerignore
Dockerfile
docker-compose.yml
.ipynb_checkpoints/
*.ipynb
data_raw/
data_cleaned/
node_modules/
.gemini/
.antigravity/
